section.banner {
	padding-top: 100px;
	width: 100%;
	height: 300px;
	min-height: max-content;
	display: grid;
	margin-bottom: 10%;
}

.banner .banner-up {
	padding-inline: 20px;
	display: flex;
	position: relative;
	justify-content: space-between;
	position: relative;
	flex-wrap: wrap;
	padding-inline-start: 10%;
}

.banner-up .circle1 {
	display: flex;
	position: absolute;
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(102, 255, 0, 0.5));
	width: 50vmin;
	padding: 20px;
	border-radius: 50%;
	height: 50vmin;
	z-index: -999;
	top: -15vmin;
	filter: blur(50px);
	right: -10%;
}

section.payment-form .circle2 {
	display: flex;
	position: absolute;
	width: 30vmin;
	padding: 20px;
	border-radius: 10%;
	height: 30vmin;
	z-index: -999;
	filter: blur(10px) opacity(80%);
	right: 10%;
}

.banner-up div.banner-text {
	display: grid;
	width: 40%;
	height: 100%;
	padding-inline-end: 20px;
}

div.banner-text p.write-up {
	margin-bottom: -0.5rem;
	display: inline;
	font-size: 8vmin;
	color: #0054ca;
	line-height: 80%;
	letter-spacing: 4px;
	font-family: Poppins-Bold;
}

.banner-up .banner-image {
	width: 30%;
	padding-inline-end: 20px;
}

.banner-image svg {
	width: 30vmin;
	height: 30vmin;
	fill: #0054ca;
}

.banner-up .bottom {
	margin-left: 20px;
	text-align: left;
}

.banner-up .bottom .icons {
	width: 50%;
	margin-top: 5px;
	display: flex;
	gap: 10px;
	justify-content: space-between;
}

.banner-up .bottom .icons svg {
	width: 25px;
	height: 25px;
}

.banner-up .bottom .icons svg.bitcoin {
	fill: rgb(239, 157, 3);
}

.banner-up .bottom .icons svg.paypal {
	fill: blue;
}

.banner-up .bottom .icons svg.card {
	fill: green;
}

.bottom .icons svg.bank {
	fill: rgb(0, 0, 0);
}

.bottom .icons svg.apple {
	fill: rgb(108, 108, 108);
}

section.payment-form {
	margin-top: 5%;
	display: flex;
	place-content: center;
	padding: 10px;
	position: relative;
}

div.payment-div {
	display: flex;
	background-color: white;
	box-shadow: 0px 0px 20px rgba(119, 145, 160, 0.2);
	border-radius: 45px;
	flex-direction: row;
	justify-items: center;
	width: 95%;
	min-width: 200px;
	max-width: 600px;
	height: 120%;
	min-height: 300px;
	max-height: 400px;
	place-self: center;
	padding: 2px;
	border: 3px solid #006aff;
	overflow: hidden;
}

.payment-div .left {
	background-color: #006aff;
	width: 40%;
	min-width: 100px;
	padding: 15px;
	padding-top: 30px;
	height: 100%;
	display: grid;
	flex-wrap: wrap;
	border-radius: 40px;
}

.payment-div .left label {
	font-size: 0.6rem;
	color: white;
}

.payment-div .left select,
.payment-div .left input {
	width: 100%;
	padding: 5px;
	height: 26px;
	border: none;
	border-radius: 10px;
	place-self: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.9);
	color: black;
	font-size: 12px;
	font-family: Poppins-Bold;
	cursor: pointer;
}

.payment-div .left #description {
	font-size: 0.6rem;
	color: rgb(230, 230, 230);
	text-align: left;
	margin-bottom: 60%;
	padding-inline: 2px;
	max-width: 150px;
}

.payment-div .left #select {
	background-color: #006aff;
	color: white;
	font-size: 0.8rem;
	font-family: Poppins-Bold;
	letter-spacing: 1px;
	border: 3px solid white;
	height: 35px;
	border-radius: 10px;
	cursor: pointer;
}

.payment-div .right {
	padding: 10px;
	display: grid;
	width: 60%;
	background-color: white;
	padding-top: 25px;
	height: 390px;
	position: relative;
	overflow: hidden;
}

.payment-div .right .contain {
	overflow-y: scroll;
}

.payment-div .right .upper {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 10px;
	align-items: center;
}

.payment-div .right .upper .oo {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.sender-info .oo {
	margin-top: 15px;
	gap: 2px;
}

.payment-div .right .oo p.label {
	font-size: 0.7rem;
	letter-spacing: 1px;
	text-align: left;
	place-content: left;
	padding-bottom: 2px;
	place-self: center;
	width: 92%;
}

.payment-div .right .oo textarea,
.payment-div .right .oo input {
	width: 95%;
	place-self: center;
	height: 25px;
	border: 2px solid #006aff;
	padding: 8px;
	border-radius: 10px;
	user-select: text;
	background-color: rgba(223, 223, 223, 0.5);
	align-items: center;
	margin-bottom: 12px;
}

.payment-div .right .oo textarea {
	padding-block: 2px;
	resize: vertical;
	height: 28px;
	min-height: 28px;
	max-height: 40px;
}

.payment-div .right .message {
	width: 100%;
	height: auto;
	display: grid;
	align-items: center;
	background-color: rgb(255, 229, 229);
	border: 2px solid rgb(255, 110, 110);
	padding: 10px;
	padding-inline: 6px;
	border-radius: 15px;
	color: red;
	max-height: 180px;
	overflow: hidden;
}

.payment-div .message h3 {
	font-size: 15px;
	color: red;
	font-weight: bolder;
	letter-spacing: 1px;
}

.payment-div .message p.message-text {
	font-size: 13px;
	overflow: scroll;
	height: auto;
	max-height: 200px;
	line-height: 18px;
	padding-bottom: 10px;
}

.payment-div .right button#payment-btn {
	background-color: transparent;
	color: #006aff;
	width: 60%;
	font-size: 0.6rem;
	font-family: Poppins-Bold;
	letter-spacing: 1px;
	border: 3px solid #006aff;
	height: 30px;
	border-radius: 10px;
	cursor: pointer;
	place-self: center;
}

.payment-div .right div.upload-div {
	width: 95%;
	background-color: white;
	height: 80%;
	display: flex;
	flex-direction: column;
	place-self: center;
	gap: 10px;
}

.payment-div .right div.upload-div p.label {
	font-size: 0.8rem;
	letter-spacing: 1px;
	text-align: left;
	place-content: left;
	width: 90%;
}

.payment-div .right div.upload-div .upload-pics {
	width: 100%;
	background-color: white;
	height: 200px;
	overflow: hidden;
	place-content: center;
	display: flex;
	border: 2px solid #0054ca;
	border-radius: 10px;
	position: relative;
}

.payment-div .right div.upload-div img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: contain;
	place-self: center;
}

.payment-div .right div.upload-div .upload-pics button {
	display: grid;
	color: #0054ca;
	background-color: white;
	border: 2px solid #0054ca;
	width: 30px;
	height: 30px;
	place-content: center;
	padding: 5px;
	position: absolute;
	z-index: 99;
	top: 10px;
	right: 10px;
	border-radius: 50%;
	font-size: larger;
	cursor: pointer;
}

.payment-div .right .overlay {
	width: 100%;
	height: 100%;
	background-color: white;
	position: absolute;
	z-index: 999;
	display: none;
	padding: 20px;
}

.overlay .upper {
	display: grid;
	height: 55%;
	padding-top: 20%;
	place-content: center;
}

.overlay .upper .counter {
	display: flex;
	padding: 10px;
	border: 3px solid #0054ca;
	width: 50%;
	height: 50px;
	place-content: center;
	border-radius: 20px;
	align-items: center;
	font-size: x-large;
	gap: 5px;
	box-shadow: 0px 0px 15px rgb(174, 201, 255);
	background-color: white;
}

.overlay .counter #minute,
.counter #seconds {
	color: #0054ca;
}

.overlay .upper svg {
	width: 80%;
	height: 80%;
}

.upper svg.success {
	fill: rgb(104, 203, 5);
	animation: grow 1s ease-in-out 100ms forwards;
}

.overlay .upper svg.unsuccess {
	animation: grow 1s ease 100ms forwards;
	fill: red;
}

.overlay .upper svg.timer {
	fill: #0054ca;
	animation: roll 2s linear 100ms infinite forwards;
}

.overlay .lower {
	margin-top: -35%;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	color: #0054ca;
	font-weight: bolder;
}

@keyframes roll {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes grow {
	from {
		width: 70%;
		height: 70%;
	}
	to {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 700px) {
	nav ul.ls-ul a:not(.home) {
		display: none;
	}

	nav ul.ls-ul a.home p {
		display: none;
	}
}
